### Read and explore the datasets

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import quilt
import seaborn as sns
import missingno as msno
import plotly.offline
import plotly_express as px
import warnings
warnings.filterwarnings('ignore')

#pip install cufflinks
#pip install plotly_express
# import cufflinks
#cufflinks.__version__
#pip install cufflinks --upgrade
#pip install python-quilt
#import geopandas as gp
#pip install missingno

In [2]:
#Read datasets, no description available. ALl files available at 
# http://www.tsb.gc.ca/eng/stats/aviation/data-5.html. Adding conditions as warning
# received: Columns (+30 in total)have mixed types. Specify dtype option on 
# import or set low_memory=False.


df1 = pd.read_csv('ASISdb_MDOTW_VW_OCCURRENCE_PUBLIC.csv') 
#                   sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
df2 = pd.read_csv('ASISdb_MDOTW_VW_AIRCRAFT_PUBLIC.csv')
#                  sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
#df3 = pd.read_csv('ASISdb_MDOTW_VW_EVENTS_AND_PHASES_PUBLIC.csv')
#df4 = pd.read_csv('ASISdb_MDOTW_VW_EVENTS_AND_PHASES_PUBLIC.csv')

In [3]:
df1.head()

,OccID,OccNo,AirportID,AirportID_AirportName,AirportID_CountryID,AirportID_CountryID_DisplayEng,AirportID_CountryID_DisplayFre,Airport_ProvinceID,AirportID_ProvinceID_DisplayEng,AirportID_ProvinceID_DisplayFre,...,InitialPositionEnum_DisplayFre,FinalPositionEnum,FinalPositionEnum_DisplayEng,FinalPositionEnum_DisplayFre,FullProcedureIND,FullProcedureIND_DisplayEng,FullProcedureIND_DisplayFre,SurfaceContaminationID,SurfaceContaminationID_DisplayEng,SurfaceContaminationID_DisplayFre
0,152828,A19P0071,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,152827,A19W0070,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,152827,A19W0070,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,152826,A19P0070,109.0,(CAMPBELL ISLAND),2.0,CANADA,CANADA,12.0,BRITISH COLUMBIA,COLOMBIE-BRITANNIQUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,152825,A19P0069,1912.0,Vancouver Intl,2.0,CANADA,CANADA,12.0,BRITISH COLUMBIA,COLOMBIE-BRITANNIQUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Rename occid

df2 = df2.rename(index=str, columns={"occid": "OccID"})

In [5]:
df2.shape

(57227, 194)

In [6]:
df2.head()

,OccID,OccNo,AcID,AircraftID,AircraftVersion,RowStatus,RegistrationNo,SerialNo,AircraftTypeID,AircraftTypeID_DisplayEng,...,ReqSepTime,ActualSepHorizontal,ActualSepHorizontalEnum,ActualSepHorizontalEnum_DisplayEng,ActualSepHorizontalEnum_DisplayFre,ActualSepVertical,ActualSepTime,AtsUnitInvolvedEnum,AtsUnitInvolvedEnum_DisplayEng,AtsUnitInvolvedEnum_DisplayFre
0,152828,A19P0071,43955,106710,9.0,1,C-GJAZ,15036,1.0,AEROPLANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,152827,A19W0070,67261,131335,2.0,1,C-FANF,27417,1.0,AEROPLANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,152826,A19P0070,67259,131334,2.0,1,C-FQNG,61032,3.0,HELICOPTER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,152825,A19P0069,65985,130580,2.0,1,N403UA,442,1.0,AEROPLANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,152822,A19C0063,43825,106425,2.0,1,C-FARE,53112,3.0,HELICOPTER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df2.columns

Index(['OccID', 'OccNo', 'AcID', 'AircraftID', 'AircraftVersion', 'RowStatus',
       'RegistrationNo', 'SerialNo', 'AircraftTypeID',
       'AircraftTypeID_DisplayEng',
       ...
       'ReqSepTime', 'ActualSepHorizontal', 'ActualSepHorizontalEnum',
       'ActualSepHorizontalEnum_DisplayEng',
       'ActualSepHorizontalEnum_DisplayFre', 'ActualSepVertical',
       'ActualSepTime', 'AtsUnitInvolvedEnum',
       'AtsUnitInvolvedEnum_DisplayEng', 'AtsUnitInvolvedEnum_DisplayFre'],
      dtype='object', length=194)

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57227 entries, 0 to 57226
Columns: 194 entries, OccID to AtsUnitInvolvedEnum_DisplayFre
dtypes: float64(79), int64(4), object(111)
memory usage: 85.1+ MB

In [9]:
df2u = df2.OccID.nunique()
print (df2u)

43854

In [10]:
# df1_.reset_index().drop_duplicates().set_index(['OccId']) Doesn't work!

In [11]:
df1.shape

(47226, 246)

In [12]:
df1.head()

,OccID,OccNo,AirportID,AirportID_AirportName,AirportID_CountryID,AirportID_CountryID_DisplayEng,AirportID_CountryID_DisplayFre,Airport_ProvinceID,AirportID_ProvinceID_DisplayEng,AirportID_ProvinceID_DisplayFre,...,InitialPositionEnum_DisplayFre,FinalPositionEnum,FinalPositionEnum_DisplayEng,FinalPositionEnum_DisplayFre,FullProcedureIND,FullProcedureIND_DisplayEng,FullProcedureIND_DisplayFre,SurfaceContaminationID,SurfaceContaminationID_DisplayEng,SurfaceContaminationID_DisplayFre
0,152828,A19P0071,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,152827,A19W0070,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,152827,A19W0070,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,152826,A19P0070,109.0,(CAMPBELL ISLAND),2.0,CANADA,CANADA,12.0,BRITISH COLUMBIA,COLOMBIE-BRITANNIQUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,152825,A19P0069,1912.0,Vancouver Intl,2.0,CANADA,CANADA,12.0,BRITISH COLUMBIA,COLOMBIE-BRITANNIQUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df1.columns

Index(['OccID', 'OccNo', 'AirportID', 'AirportID_AirportName',
       'AirportID_CountryID', 'AirportID_CountryID_DisplayEng',
       'AirportID_CountryID_DisplayFre', 'Airport_ProvinceID',
       'AirportID_ProvinceID_DisplayEng', 'AirportID_ProvinceID_DisplayFre',
       ...
       'InitialPositionEnum_DisplayFre', 'FinalPositionEnum',
       'FinalPositionEnum_DisplayEng', 'FinalPositionEnum_DisplayFre',
       'FullProcedureIND', 'FullProcedureIND_DisplayEng',
       'FullProcedureIND_DisplayFre', 'SurfaceContaminationID',
       'SurfaceContaminationID_DisplayEng',
       'SurfaceContaminationID_DisplayFre'],
      dtype='object', length=246)

In [14]:
df1u = df1.OccID.nunique()

In [15]:
unique_ = pd.DataFrame({'Dataset' :["AC","EVE"],#"OCC","SUR"], 
                        "Unique":[df1u,df2u]})#df3u,df4u
unique_.sort_values(by="Unique", ascending=False)

  Dataset  Unique
0      AC   43855
1     EVE   43854

In [16]:
dfm = df1.merge(df2, how='left', left_on=('OccID','OccNo'), right_on=('OccID','OccNo'))

In [17]:
#dfm.TotalFatalCount

In [18]:
# from functools import reduce
# dfm = reduce(lambda left,right: pd.merge(left,right, on='OccID',how='inner'), dfs)

In [19]:
dfm.shape

(68258, 438)

In [20]:
#Select relevant features, USE df=df[]!!!!
dfr = dfm[['OccID', 'AircraftTypeID_DisplayEng','AircraftMakeID_DisplayEng','OrganizationID_DisplayEng', 'OperatorTypeID_DisplayEng',
      'YearOfManuf','NumberOfEngine','OperationTypeID_DisplayEng', 
      'OccDate', 'OccTime','Latitude','Longitude', 'TotalFatalCount', 'OccTypeID_DisplayEng']]
dfr.head()

,OccID,AircraftTypeID_DisplayEng,AircraftMakeID_DisplayEng,OrganizationID_DisplayEng,OperatorTypeID_DisplayEng,YearOfManuf,NumberOfEngine,OperationTypeID_DisplayEng,OccDate,OccTime,Latitude,Longitude,TotalFatalCount,OccTypeID_DisplayEng
0,152828,AEROPLANE,BOMBARDIER,JAZZ AVIATION LP,COMMERCIAL,2005,2.0,AIR TRANSPORT,6/11/2019 12:00:00 AM,13:35:00,56.550000,129.260000,0,INCIDENT REPORTABLE
1,152827,AEROPLANE,BOEING,AIR NORTH CHARTER & TRAINING,COMMERCIAL,1992,2.0,AIR TRANSPORT,6/12/2019 12:00:00 AM,22:33:00,60.709444,135.067222,0,INCIDENT REPORTABLE
2,152827,AEROPLANE,BOEING,AIR NORTH CHARTER & TRAINING,COMMERCIAL,1992,2.0,AIR TRANSPORT,6/12/2019 12:00:00 AM,22:33:00,60.709444,135.067222,0,INCIDENT REPORTABLE
3,152826,HELICOPTER,SIKORSKY,VIH HELICOPTERS LTD,COMMERCIAL,1960,2.0,HELILOGGING,5/24/2019 12:00:00 AM,12:00:00,52.185000,128.156667,0,INCIDENT REPORTABLE
4,152825,AEROPLANE,AIRBUS,UNITED AIRLINES,COMMERCIAL,1993,2.0,AIR TRANSPORT,6/12/2019 12:00:00 AM,14:40:00,49.194722,123.183889,0,INCIDENT REPORTABLE

In [21]:
dfr.shape

(68258, 14)

In [22]:
dfr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68258 entries, 0 to 68257
Data columns (total 14 columns):
OccID                         68258 non-null int64
AircraftTypeID_DisplayEng     68255 non-null object
AircraftMakeID_DisplayEng     67203 non-null object
OrganizationID_DisplayEng     53411 non-null object
OperatorTypeID_DisplayEng     64618 non-null object
YearOfManuf                   57940 non-null object
NumberOfEngine                67826 non-null float64
OperationTypeID_DisplayEng    64074 non-null object
OccDate                       68258 non-null object
OccTime                       67914 non-null object
Latitude                      66695 non-null float64
Longitude                     66699 non-null float64
TotalFatalCount               68258 non-null int64
OccTypeID_DisplayEng          68258 non-null object
dtypes: float64(3), int64(2), object(9)
memory usage: 7.8+ MB

In [23]:
df = dfr.drop_duplicates(subset='OccID')
#df.dropna(inplace = True)

In [24]:
#sns.heatmap(df.isnull(), cbar=False)

In [25]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43855 entries, 0 to 68257
Data columns (total 14 columns):
OccID                         43855 non-null int64
AircraftTypeID_DisplayEng     43852 non-null object
AircraftMakeID_DisplayEng     42978 non-null object
OrganizationID_DisplayEng     32656 non-null object
OperatorTypeID_DisplayEng     41087 non-null object
YearOfManuf                   37097 non-null object
NumberOfEngine                43647 non-null float64
OperationTypeID_DisplayEng    40698 non-null object
OccDate                       43855 non-null object
OccTime                       43554 non-null object
Latitude                      42521 non-null float64
Longitude                     42525 non-null float64
TotalFatalCount               43855 non-null int64
OccTypeID_DisplayEng          43855 non-null object
dtypes: float64(3), int64(2), object(9)
memory usage: 5.0+ MB

In [26]:
#Inferring dtypes
df = df.infer_objects()
df.dtypes

OccID                           int64
AircraftTypeID_DisplayEng      object
AircraftMakeID_DisplayEng      object
OrganizationID_DisplayEng      object
OperatorTypeID_DisplayEng      object
YearOfManuf                    object
NumberOfEngine                float64
OperationTypeID_DisplayEng     object
OccDate                        object
OccTime                        object
Latitude                      float64
Longitude                     float64
TotalFatalCount                 int64
OccTypeID_DisplayEng           object
dtype: object

In [27]:
#Drop nulls on target
df = df[pd.notnull(df['OccTypeID_DisplayEng'])]

In [28]:
df.shape

(43855, 14)

In [29]:
print (df[pd.to_numeric(df.OccTypeID_DisplayEng, errors='coerce').isnull()])
#pd.to_numeric(df['OccTypeID_DisplayEng'])

        OccID AircraftTypeID_DisplayEng  \
0      152828                 AEROPLANE
1      152827                 AEROPLANE
3      152826                HELICOPTER
4      152825                 AEROPLANE
5      152822                HELICOPTER
6      152820                 AEROPLANE
7      152819                       NaN
8      152818                 AEROPLANE
9      152814                 AEROPLANE
10     152813       ADVANCED ULTRALIGHT
11     152812                 AEROPLANE
12     152809                 AEROPLANE
13     152806          BASIC ULTRALIGHT
15     152805                 AEROPLANE
16     152803                 AEROPLANE
17     152802                 AEROPLANE
19     152800                 AEROPLANE
20     152799                 AEROPLANE
21     152798                 AEROPLANE
27     152797                HELICOPTER
28     152796                 AEROPLANE
29     152795                 AEROPLANE
30     152794                 AEROPLANE
32     152791                 AEROPLANE
33     152790                 AEROPLANE
34     152789                 AEROPLANE
38     152788                 AEROPLANE
39     152787                HELICOPTER
41     152786                HELICOPTER
43     152785                 AEROPLANE
...       ...                       ...
68225   45030                 AEROPLANE
68226   45029                 AEROPLANE
68228   45028                 AEROPLANE
68229   45027                 AEROPLANE
68230   45026                HELICOPTER
68231   45025                 AEROPLANE
68232   45024                 AEROPLANE
68233   45023                 AEROPLANE
68234   45022                 AEROPLANE
68235   45021                 AEROPLANE
68236   45020                 AEROPLANE
68237   45019                 AEROPLANE
68238   45018                 AEROPLANE
68239   45017                 AEROPLANE
68240   45016                 AEROPLANE
68241   45015                 AEROPLANE
68242   45014                 AEROPLANE
68243   45013                 AEROPLANE
68244   45012                 AEROPLANE
68245   45011                 AEROPLANE
68246   45010                 AEROPLANE
68247   45009                 AEROPLANE
68248   45008                 AEROPLANE
68249   45007                 AEROPLANE
68250   45006                 AEROPLANE
68251   45005                 AEROPLANE
68253   45004                 AEROPLANE
68255   45003                 AEROPLANE
68256   45002                 AEROPLANE
68257   45001                HELICOPTER

                       AircraftMakeID_DisplayEng  \
0                                     BOMBARDIER
1                                         BOEING
3                                       SIKORSKY
4                                         AIRBUS
5                                BELL HELICOPTER
6                                         BOEING
7                                            NaN
8                                        PILATUS
9                                         BOEING
10                                        MACAIR
11                                        CESSNA
12                                        AIRBUS
13                         Ellison Everett Blair
15                                        CESSNA
16                                           NaN
17                                        BOEING
19                                        BOEING
20                                        AIRBUS
21                                           NaN
27                           ROBINSON HELICOPTER
28                                         BEECH
29                                        BOEING
30                                           NaN
32                                        BOEING
33                                        BOEING
34                                         PIPER
38                                       EMBRAER
39                               BELL HELICOPTER
41                                  AEROSPATIALE
43                                    BOMBARDIER
...                                          ...
68225                                     CESSNA
68226                                     CESSNA
68228                                     CESSNA
68229                                      PIPER
68230                            BELL HELICOPTER
68231                                     CESSNA
68232                                     CESSNA
68233                                      PIPER
68234                                     CESSNA
68235                                    AERONCA
68236                               DE HAVILLAND
68237                                      PIPER
68238                                    GRUMMAN
68239                               DE HAVILLAND
68240                                      PIPER
68241                                      PIPER
68242                                      MAULE
68243                                      BEECH
68244                                      PIPER
68245                             NORTH AMERICAN
68246                                   CHAMPION
68247                                     CESSNA
68248                                    GRUMMAN
68249                                     CESSNA
68250                                     CESSNA
68251                               DE HAVILLAND
68253                               DE HAVILLAND
68255                                      PIPER
68256                                     CESSNA
68257  HUGHES TOOL , AIRCRAFT DIVISION (1955-69)

          OrganizationID_DisplayEng OperatorTypeID_DisplayEng YearOfManuf  \
0                  JAZZ AVIATION LP                COMMERCIAL        2005
1      AIR NORTH CHARTER & TRAINING                COMMERCIAL        1992
3               VIH HELICOPTERS LTD                COMMERCIAL        1960
4                   UNITED AIRLINES                COMMERCIAL        1993
5             Arrowhead Helicopters                COMMERCIAL        1997
6                           WESTJET                COMMERCIAL        2016
7                               NaN                       NaN         NaN
8                   PASCAN AVIATION                COMMERCIAL        1997
9             SUNWING AIRLINES INC.                COMMERCIAL        2014
10                              NaN                   PRIVATE        1990
11                 Contour Aviation                COMMERCIAL        2002
12                       AIR CANADA                COMMERCIAL        1993
13                              NaN                   PRIVATE        2011
15                              NaN                   PRIVATE        1966
16                              NaN                   PRIVATE        2012
17                          WESTJET                COMMERCIAL        2014
19                        ATLAS AIR                COMMERCIAL         NaN
20                       AIR CANADA                COMMERCIAL        2001
21                              NaN                   PRIVATE        1981
27                              NaN                   PRIVATE        2006
28                  AVIATION MH INC                COMMERCIAL         NaN
29                 AIR CANADA ROUGE                COMMERCIAL        1990
30                              NaN                   PRIVATE        1994
32            SUNWING AIRLINES INC.                COMMERCIAL        2014
33                       AIR CANADA                COMMERCIAL        2016
34           CANADIAN FLIGHT CENTRE                COMMERCIAL        1981
38                       AIR CANADA                COMMERCIAL        2007
39          AIRSPAN HELICOPTERS LTD                COMMERCIAL        1973
41          AIRSPAN HELICOPTERS LTD                COMMERCIAL        2009
43             PORTER AIRLINES INC.                COMMERCIAL        2011
...                             ...                       ...         ...
68225                           NaN                   PRIVATE         NaN
68226                           NaN                   PRIVATE        1953
68228      WENTZELLS FLYING SERVICE                COMMERCIAL         NaN
68229                           NaN                   PRIVATE         NaN
68230         UNIVERSAL HELICOPTERS                COMMERCIAL        1976
68231            ASHUANIPI AVIATION                COMMERCIAL        1961
68232         MIRAMICHI AIR SERVICE                COMMERCIAL        1975
68233        EASTERN FLYING SERVICE                COMMERCIAL        1971
68234           BUTLER AIR SERVICES                COMMERCIAL        1967
68235                           NaN                   PRIVATE        1941
68236              LABRADOR AIRWAYS                COMMERCIAL        1952
68237                           NaN                   PRIVATE        1964
68238                           NaN                   PRIVATE        1971
68239              LABRADOR AIRWAYS                COMMERCIAL        1958
68240                           NaN                   PRIVATE        1947
68241                           NaN                   PRIVATE        1969
68242           SUNDANCER AIR SHOWS                COMMERCIAL        1976
68243                           NaN                   PRIVATE        1971
68244                           NaN                   PRIVATE         NaN
68245                           NaN                   PRIVATE        1971
68246                           NaN                   PRIVATE        1974
68247                           NaN                   PRIVATE        1955
68248                        CONAIR                COMMERCIAL         NaN
68249                           NaN                   PRIVATE         NaN
68250                           NaN                   PRIVATE         NaN
68251              LABRADOR AIRWAYS                COMMERCIAL        1952
68253              LABRADOR AIRWAYS                COMMERCIAL        1959
68255           MONCTON FLYING CLUB                COMMERCIAL        1976
68256              LABRADOR AIRWAYS                COMMERCIAL         NaN
68257            VIKING HELICOPTERS                COMMERCIAL        1969

       NumberOfEngine       OperationTypeID_DisplayEng                OccDate  \
0                 2.0                    AIR TRANSPORT  6/11/2019 12:00:00 AM
1                 2.0                    AIR TRANSPORT  6/12/2019 12:00:00 AM
3                 2.0                      HELILOGGING  5/24/2019 12:00:00 AM
4                 2.0                    AIR TRANSPORT  6/12/2019 12:00:00 AM
5                 1.0                     HELISLINGING  6/11/2019 12:00:00 AM
6                 2.0                    AIR TRANSPORT   6/9/2019 12:00:00 AM
7                 NaN                              NaN  6/10/2019 12:00:00 AM
8                 1.0                    AIR TRANSPORT  6/12/2019 12:00:00 AM
9                 2.0                    AIR TRANSPORT   6/7/2019 12:00:00 AM
10                1.0                              NaN  6/11/2019 12:00:00 AM
11                2.0                    AIR TRANSPORT  6/11/2019 12:00:00 AM
12                2.0                    AIR TRANSPORT   6/5/2019 12:00:00 AM
13                1.0                  PLEASURE/TRAVEL   6/9/2019 12:00:00 AM
15                1.0                  PLEASURE/TRAVEL   6/4/2019 12:00:00 AM
16                1.0                  PLEASURE/TRAVEL   6/9/2019 12:00:00 AM
17                2.0                    AIR TRANSPORT  5/17/2019 12:00:00 AM
19                2.0                    AIR TRANSPORT   6/9/2019 12:00:00 AM
20                2.0                    AIR TRANSPORT   6/7/2019 12:00:00 AM
21                1.0                  PLEASURE/TRAVEL   6/8/2019 12:00:00 AM
27                1.0                  PLEASURE/TRAVEL   6/7/2019 12:00:00 AM
28                1.0                         TRAINING   6/7/2019 12:00:00 AM
29                2.0                    AIR TRANSPORT   6/6/2019 12:00:00 AM
30                1.0                  PLEASURE/TRAVEL  5/19/2019 12:00:00 AM
32                2.0                    AIR TRANSPORT  5/25/2019 12:00:00 AM
33                2.0                    AIR TRANSPORT   6/5/2019 12:00:00 AM
34                2.0                         TRAINING  5/31/2019 12:00:00 AM
38                2.0                    AIR TRANSPORT   6/4/2019 12:00:00 AM
39                2.0  FIRE FIGHTING / FIRE MANAGEMENT  5/29/2019 12:00:00 AM
41                1.0  FIRE FIGHTING / FIRE MANAGEMENT  5/27/2019 12:00:00 AM
43                2.0                    AIR TRANSPORT   6/5/2019 12:00:00 AM
...               ...                              ...                    ...
68225             1.0                  PLEASURE/TRAVEL  9/23/1976 12:00:00 AM
68226             1.0                         TRAINING  9/19/1976 12:00:00 AM
68228             1.0                    AIR TRANSPORT  9/18/1976 12:00:00 AM
68229             1.0                  PLEASURE/TRAVEL  9/14/1976 12:00:00 AM
68230             1.0                     CONSTRUCTION  9/13/1976 12:00:00 AM
68231             1.0                            FERRY  8/22/1976 12:00:00 AM
68232             1.0                  PLEASURE/TRAVEL  8/16/1976 12:00:00 AM
68233             1.0                         TRAINING  8/13/1976 12:00:00 AM
68234             1.0                         TRAINING  8/12/1976 12:00:00 AM
68235             1.0                  PLEASURE/TRAVEL   8/8/1976 12:00:00 AM
68236             1.0                    AIR TRANSPORT  7/31/1976 12:00:00 AM
68237             1.0                         BUSINESS  7/29/1976 12:00:00 AM
68238             1.0                            OTHER  7/22/1976 12:00:00 AM
68239             1.0                    AIR TRANSPORT  7/19/1976 12:00:00 AM
68240             1.0                  PLEASURE/TRAVEL  7/18/1976 12:00:00 AM
68241             1.0                  PLEASURE/TRAVEL  6/27/1976 12:00:00 AM
68242             1.0                      ADVERTISING  6/19/1976 12:00:00 AM
68243             1.0                  PLEASURE/TRAVEL  5/24/1976 12:00:00 AM
68244             1.0                  PLEASURE/TRAVEL   6/5/1976 12:00:00 AM
68245             1.0                      APPLICATION   6/6/1976 12:00:00 AM
68246             1.0                      ADVERTISING   6/5/1976 12:00:00 AM
68247             1.0                  PLEASURE/TRAVEL   6/4/1976 12:00:00 AM
68248             1.0                      APPLICATION  5/29/1976 12:00:00 AM
68249             1.0                         BUSINESS   5/5/1976 12:00:00 AM
68250             1.0                  PLEASURE/TRAVEL   3/4/1976 12:00:00 AM
68251             1.0                    AIR TRANSPORT  2/25/1976 12:00:00 AM
68253             1.0                    AIR TRANSPORT  2/16/1976 12:00:00 AM
68255             1.0                  PLEASURE/TRAVEL  2/13/1976 12:00:00 AM
68256             1.0                    AIR TRANSPORT  1/19/1976 12:00:00 AM
68257             1.0                     CONSTRUCTION   1/9/1976 12:00:00 AM

        OccTime   Latitude   Longitude  TotalFatalCount OccTypeID_DisplayEng
0      13:35:00  56.550000  129.260000                0  INCIDENT REPORTABLE
1      22:33:00  60.709444  135.067222                0  INCIDENT REPORTABLE
3      12:00:00  52.185000  128.156667                0  INCIDENT REPORTABLE
4      14:40:00  49.194722  123.183889                0  INCIDENT REPORTABLE
5      13:00:00  58.276667  104.082500                0  INCIDENT REPORTABLE
6      13:30:00  49.910000   97.240000                0  INCIDENT REPORTABLE
7      16:27:00  45.470556   73.740833                0  INCIDENT REPORTABLE
8      11:40:00  46.791111   71.393333                0  INCIDENT REPORTABLE
9      19:55:00  39.601944   19.911667                0  INCIDENT REPORTABLE
10     17:00:00  47.206389   55.397778                0             ACCIDENT
11     16:55:00  45.470556   73.740833                0  INCIDENT REPORTABLE
12     22:00:00  43.111111   76.106389                0  INCIDENT REPORTABLE
13     23:05:00        NaN         NaN                0             ACCIDENT
15     18:00:00  57.380000  106.670000                0             ACCIDENT
16     16:00:00  43.993333   79.266944                0             ACCIDENT
17     20:06:00  43.676667   79.630556                0  INCIDENT REPORTABLE
19     05:29:00  53.319167   60.425833                0  INCIDENT REPORTABLE
20     18:40:00  45.470556   73.740833                0  INCIDENT REPORTABLE
21     15:32:00  45.438611   71.691389                0             ACCIDENT
27     17:39:00  45.350000   74.083333                0             ACCIDENT
28     13:11:00  47.083333   67.683333                0             ACCIDENT
29     03:52:00  45.470556   73.740833                0  INCIDENT REPORTABLE
30     16:47:00  48.746111   69.097222                0             ACCIDENT
32     09:28:00  39.551667    2.738889                0  INCIDENT REPORTABLE
33     10:51:00  57.000000   25.000000                0  INCIDENT REPORTABLE
34     22:00:00  49.025278  122.360000                0  INCIDENT REPORTABLE
38     01:43:00  42.729314  100.739872                0  INCIDENT REPORTABLE
39     19:35:00  57.183333  118.183333                0  INCIDENT REPORTABLE
41     09:30:00  56.950833  117.644167                0  INCIDENT REPORTABLE
43     18:53:00  48.371944   89.321667                0  INCIDENT REPORTABLE
...         ...        ...         ...              ...                  ...
68225  15:30:00  48.166667   56.166667                0             ACCIDENT
68226  06:59:00  44.983333   64.916667                0             ACCIDENT
68228  18:10:00  49.900000   57.333333                0             ACCIDENT
68229  10:00:00  49.783333   57.250000                0             ACCIDENT
68230  17:20:00  48.033333   53.666667                0             ACCIDENT
68231  12:45:00  53.716667   65.466667                0             ACCIDENT
68232  22:00:00  47.033333   65.533333                0             ACCIDENT
68233       NaN        NaN         NaN                1             ACCIDENT
68234  09:55:00  44.883333   63.516667                0             ACCIDENT
68235  09:30:00  46.000000   66.000000                1             ACCIDENT
68236  17:00:00  52.266667   55.583333                3             ACCIDENT
68237  10:15:00  45.200000   67.250000                0             ACCIDENT
68238  06:25:00  46.550000   67.633333                0             ACCIDENT
68239  14:50:00  55.416667   60.200000                0             ACCIDENT
68240  15:45:00  47.333333   64.916667                0             ACCIDENT
68241  21:50:00  45.850000   66.533333                0             ACCIDENT
68242  10:30:00  44.633333   63.500000                0             ACCIDENT
68243  14:00:00  46.316667   62.516667                0             ACCIDENT
68244  15:15:00  49.216667   57.383333                0             ACCIDENT
68245  07:20:00  46.666667   67.166667                1             ACCIDENT
68246  15:30:00  47.616667   52.750000                1             ACCIDENT
68247  20:20:00  45.266667   62.883333                0             ACCIDENT
68248  07:30:00  46.166667   64.583333                0             ACCIDENT
68249  13:45:00  45.266667   66.050000                0             ACCIDENT
68250  15:30:00  55.466667   60.216667                0             ACCIDENT
68251  17:09:00  53.316667   60.433333                0             ACCIDENT
68253  10:00:00  53.500000   55.833333                1             ACCIDENT
68255  18:30:00  51.483333   55.816667                0             ACCIDENT
68256  13:40:00  53.566667   64.100000                0             ACCIDENT
68257  11:30:00  48.050000   54.833333                0             ACCIDENT

[43855 rows x 14 columns]

In [36]:
# non_numeric = df.OrganizationID_DisplayEng.compile(r'[^\d.]+')
# #df = pd.DataFrame({'a': [3,2,'NA']})
# df.iloc[df['a'].str.contains(non_numeric)]

print (df[pd.to_numeric(df.OrganizationID_DisplayEng)])

ValueError: Unable to parse string "JAZZ AVIATION LP" at position 0

In [ ]:
df.dtypes

In [ ]:
df.OccTypeID_DisplayEng is list

In [ ]:
df.OccTypeID_DisplayEng is str

In [ ]:
df.OccTypeID_DisplayEng is int

In [ ]:
df.OccTypeID_DisplayEng is dict

In [ ]:
msno.matrix(df)

In [ ]:
#Total of missing values

df.isnull().sum().sum()

In [ ]:
df.nunique()

In [ ]:
df.describe()

In [ ]:
Long = df.Longitude * -1

In [ ]:
sns.jointplot(x=Long.values, y=df.Latitude.values, size = 10)
plt.title('Lat and Longs')

In [ ]:
df.sample(5)

In [ ]:
df['OccDate'] = pd.to_datetime(df['OccDate'])
#df.OccDate

In [ ]:
#df = pd.to_datetime(df['OccDate'], errors='coerce')

In [ ]:
#df.OccDate.dt.year

In [ ]:
#importing plotly and cufflinks in offline mode
import plotly.plotly as py
import cufflinks as cf
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly.offline import download_plotlyjs
from plotly.offline import init_notebook_mode
from plotly.offline import plot, iplot
init_notebook_mode(connected=True)
cf.go_offline()

In [ ]:
#Removed as there are few occurrences before 1976
#dfen.OccDate.dt.year.iplot(kind='histogram', bins=40, theme='white', title='Ocurrences per year')

In [ ]:
#Drop prior to 1976
old = df[(df.OccDate.dt.year < 1976)].index
dfo = df.drop(old, inplace=True)

In [ ]:
df.OccDate.dt.year.iplot(kind='histogram', bins=50, theme='white', title='Ocurrences per year')

In [ ]:
#plt.hist(df['OccTypeID_DisplayEng']);
#sns.distplot( a=df["OccTypeID_DisplayEng"], hist=True, kde=False, rug=False )
#sns.scatter(x='OccTypeID_DisplayEng', data=df)
#px.bar(df, x='OccTypeID_DisplayEng', template='plotly_white')
#df.OccTypeID_DisplayEng.iplot(kind='histogram', bins=50, theme='white', title='Ocurrences per type')
#px.histogram(df, x='OperatorTypeID_DisplayEng', color='OccTypeID_DisplayEng',template='plotly')

In [ ]:
df.info()

In [ ]:
#px.histogram(df, x='OrganizationID_DisplayEng', y='OccTypeID_DisplayEng') 
sns.distplot(df["OccTypeID_DisplayEng"])

In [ ]:
# g = sns.FacetGrid(df,hue='OccTypeID_DisplayEng',palette='Set1',size=8,aspect=2)
# g = g.map(plt.hist,'TotalFatalCount', bins=20,alpha=0.5)
# plt.legend()

In [ ]:
#dfen.TotalFatalCount

In [ ]:
df.corr('pearson')

In [ ]:
px.scatter(df, x='TotalFatalCount', y="OrganizationID_DisplayEng", 
                   size='TotalFatalCount', size_max=60)
#Get another graph for <100 fatalities

In [ ]:
plt.scatter(df.TotalFatalCount, df.OperationTypeID_DisplayEng)
#Get another graph for <100 fatalities

### Classify using RFC

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
df = df.nunique()
print(df)

In [ ]:
# x_columns = 14
# x = df.iloc[:,0:x_columns].values 
# y = df.iloc[:,x_columns].values
# # #IndexingError: Too many indexers

In [ ]:
#Is target a class?
isinstance(df.OccTypeID_DisplayEng, pd.DataFrame)

In [ ]:
x=df.drop('OccTypeID_DisplayEng') #features
y=df.OccTypeID_DisplayEng#target

In [ ]:
df.nunique()

In [ ]:
x.shape

In [ ]:
encoder = LabelEncoder()
encoder.fit(x)
encoded_x = encoder.transform(x)
encoder.fit(y)
encoded_y = encoder.transform(y)
#dummy_y = np_utils.to_categorical(encoded_y,num_classes=7)
print(encoded_x)
print(encoded_y)

In [ ]:
# unique_y =df['OccTypeID_DisplayEng'].unique()
# print(unique_y)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=6)

In [ ]:
model = RandomForestClassifier(n_estimators=10, criterion='entropy', random_state=0).fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)