### Read and explore the different datasets

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import quilt
import seaborn as sns
import missingno as msno
import plotly.offline
import plotly_express as px

#import geopandas as gp

In [2]:
#pip install cufflinks

In [3]:
#pip install plotly_express

In [4]:
# import cufflinks
# cufflinks.__version__

In [5]:
#pip install cufflinks --upgrade

In [6]:
#pip install python-quilt

In [7]:
#Read datasets, no description available. ALl files available at http://www.tsb.gc.ca/eng/stats/aviation/data-5.html
df1 = pd.read_csv('ASISdb_MDOTW_VW_OCCURRENCE_PUBLIC.csv')
df2 = pd.read_csv('ASISdb_MDOTW_VW_AIRCRAFT_PUBLIC.csv')
#df3 = pd.read_csv('ASISdb_MDOTW_VW_EVENTS_AND_PHASES_PUBLIC.csv')
#df4 = pd.read_csv('ASISdb_MDOTW_VW_EVENTS_AND_PHASES_PUBLIC.csv')

C:\ProgramData\Anaconda3\envs\DSMLBC_Py36\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning:

Columns (21,22,31,32,34,35,42,43,55,56,71,72,81,98,99,101,102,104,105,107,108,111,112,115,116,118,119,124,125,130,131,135,136,138,139,141,142,152,153,158,159,161,162,170,171,173,174,176,177,188,189,194,195,197,198,200,201,203,204,206,207,209,220,221,228,229,241,242) have mixed types. Specify dtype option on import or set low_memory=False.

C:\ProgramData\Anaconda3\envs\DSMLBC_Py36\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning:

Columns (17,42,43,50,88,103,104,106,107,109,110,113,114,119,122,123,137,138,140,141,152,153,155,156,157,159,160,161,163,164,166,167,171,172,174,175,177,178,181,182,187,188,192,193) have mixed types. Specify dtype option on import or set low_memory=False.

In [8]:
df1.head()

,OccID,OccNo,AirportID,AirportID_AirportName,AirportID_CountryID,AirportID_CountryID_DisplayEng,AirportID_CountryID_DisplayFre,Airport_ProvinceID,AirportID_ProvinceID_DisplayEng,AirportID_ProvinceID_DisplayFre,...,InitialPositionEnum_DisplayFre,FinalPositionEnum,FinalPositionEnum_DisplayEng,FinalPositionEnum_DisplayFre,FullProcedureIND,FullProcedureIND_DisplayEng,FullProcedureIND_DisplayFre,SurfaceContaminationID,SurfaceContaminationID_DisplayEng,SurfaceContaminationID_DisplayFre
0,152828,A19P0071,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,152827,A19W0070,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,152827,A19W0070,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,152826,A19P0070,109.0,(CAMPBELL ISLAND),2.0,CANADA,CANADA,12.0,BRITISH COLUMBIA,COLOMBIE-BRITANNIQUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,152825,A19P0069,1912.0,Vancouver Intl,2.0,CANADA,CANADA,12.0,BRITISH COLUMBIA,COLOMBIE-BRITANNIQUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Rename occid

df2 = df2.rename(index=str, columns={"occid": "OccID"})

In [10]:
df2.shape

(57227, 194)

In [11]:
#df2[df2.columns[df2.isnull().mean()< 0.4]]

#df1_.shape

#drop FRE!

In [12]:
#pip install missingno

In [13]:
df2.head()

,OccID,OccNo,AcID,AircraftID,AircraftVersion,RowStatus,RegistrationNo,SerialNo,AircraftTypeID,AircraftTypeID_DisplayEng,...,ReqSepTime,ActualSepHorizontal,ActualSepHorizontalEnum,ActualSepHorizontalEnum_DisplayEng,ActualSepHorizontalEnum_DisplayFre,ActualSepVertical,ActualSepTime,AtsUnitInvolvedEnum,AtsUnitInvolvedEnum_DisplayEng,AtsUnitInvolvedEnum_DisplayFre
0,152828,A19P0071,43955,106710,9.0,1,C-GJAZ,15036,1.0,AEROPLANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,152827,A19W0070,67261,131335,2.0,1,C-FANF,27417,1.0,AEROPLANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,152826,A19P0070,67259,131334,2.0,1,C-FQNG,61032,3.0,HELICOPTER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,152825,A19P0069,65985,130580,2.0,1,N403UA,442,1.0,AEROPLANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,152822,A19C0063,43825,106425,2.0,1,C-FARE,53112,3.0,HELICOPTER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df2.columns

Index(['OccID', 'OccNo', 'AcID', 'AircraftID', 'AircraftVersion', 'RowStatus',
       'RegistrationNo', 'SerialNo', 'AircraftTypeID',
       'AircraftTypeID_DisplayEng',
       ...
       'ReqSepTime', 'ActualSepHorizontal', 'ActualSepHorizontalEnum',
       'ActualSepHorizontalEnum_DisplayEng',
       'ActualSepHorizontalEnum_DisplayFre', 'ActualSepVertical',
       'ActualSepTime', 'AtsUnitInvolvedEnum',
       'AtsUnitInvolvedEnum_DisplayEng', 'AtsUnitInvolvedEnum_DisplayFre'],
      dtype='object', length=194)

In [15]:
df2u = df2.OccID.nunique()
print (df2u)

43854

In [16]:
# df1_.reset_index().drop_duplicates().set_index(['OccId']) Doesn't work!

In [17]:
df1.shape

(47226, 246)

In [18]:
df1.head()

,OccID,OccNo,AirportID,AirportID_AirportName,AirportID_CountryID,AirportID_CountryID_DisplayEng,AirportID_CountryID_DisplayFre,Airport_ProvinceID,AirportID_ProvinceID_DisplayEng,AirportID_ProvinceID_DisplayFre,...,InitialPositionEnum_DisplayFre,FinalPositionEnum,FinalPositionEnum_DisplayEng,FinalPositionEnum_DisplayFre,FullProcedureIND,FullProcedureIND_DisplayEng,FullProcedureIND_DisplayFre,SurfaceContaminationID,SurfaceContaminationID_DisplayEng,SurfaceContaminationID_DisplayFre
0,152828,A19P0071,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,152827,A19W0070,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,152827,A19W0070,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,152826,A19P0070,109.0,(CAMPBELL ISLAND),2.0,CANADA,CANADA,12.0,BRITISH COLUMBIA,COLOMBIE-BRITANNIQUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,152825,A19P0069,1912.0,Vancouver Intl,2.0,CANADA,CANADA,12.0,BRITISH COLUMBIA,COLOMBIE-BRITANNIQUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df1.columns

Index(['OccID', 'OccNo', 'AirportID', 'AirportID_AirportName',
       'AirportID_CountryID', 'AirportID_CountryID_DisplayEng',
       'AirportID_CountryID_DisplayFre', 'Airport_ProvinceID',
       'AirportID_ProvinceID_DisplayEng', 'AirportID_ProvinceID_DisplayFre',
       ...
       'InitialPositionEnum_DisplayFre', 'FinalPositionEnum',
       'FinalPositionEnum_DisplayEng', 'FinalPositionEnum_DisplayFre',
       'FullProcedureIND', 'FullProcedureIND_DisplayEng',
       'FullProcedureIND_DisplayFre', 'SurfaceContaminationID',
       'SurfaceContaminationID_DisplayEng',
       'SurfaceContaminationID_DisplayFre'],
      dtype='object', length=246)

In [20]:
df1u = df1.OccID.nunique()

In [21]:
#df3.head()

In [22]:
#df3.shape

In [23]:
#df3u = df3.OccID.nunique()

In [ ]:
#df4.head()

In [ ]:
#df4.shape

In [ ]:
#df4u = df4.OccID.nunique()

In [ ]:
unique_ = pd.DataFrame({'Dataset' :["AC","EVE"],#"OCC","SUR"], 
                        "Unique":[df1u,df2u]})#df3u,df4u
unique_.sort_values(by="Unique", ascending=False)

  Dataset  Unique
0      AC   43855
1     EVE   43854

#### One feature seems common and can be used as keys, merge all datasets into one

In [ ]:
#dfs = [df.set_index(['OccID']) for df in [df1, df2]]


# dfc_ = reduce(lambda left, right: pd.merge((left,right, on=['OccID'], how='outer', indicator=True)
#      .query('_merge != "both"')
#      .drop('_merge', 1),  dfs)

# (left.merge(right, on='key', how='outer', indicator=True)
#      .query('_merge != "both"')
#      .drop('_merge', 1))

In [ ]:
dfm = df1.merge(df2, how='left', left_on=('OccID','OccNo'), right_on=('OccID','OccNo'))

In [ ]:
#dfm.TotalFatalCount

In [ ]:
# from functools import reduce
# dfm = reduce(lambda left,right: pd.merge(left,right, on='OccID',how='inner'), dfs)

In [ ]:
dfm.shape

(68258, 438)

In [ ]:
dfm.head()

,OccID,OccNo,AirportID,AirportID_AirportName,AirportID_CountryID,AirportID_CountryID_DisplayEng,AirportID_CountryID_DisplayFre,Airport_ProvinceID,AirportID_ProvinceID_DisplayEng,AirportID_ProvinceID_DisplayFre,...,ReqSepTime,ActualSepHorizontal,ActualSepHorizontalEnum,ActualSepHorizontalEnum_DisplayEng,ActualSepHorizontalEnum_DisplayFre,ActualSepVertical,ActualSepTime,AtsUnitInvolvedEnum,AtsUnitInvolvedEnum_DisplayEng,AtsUnitInvolvedEnum_DisplayFre
0,152828,A19P0071,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,152827,A19W0070,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,152827,A19W0070,1984.0,Erik Nielsen Intl,2.0,CANADA,CANADA,24.0,YUKON,YUKON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,152826,A19P0070,109.0,(CAMPBELL ISLAND),2.0,CANADA,CANADA,12.0,BRITISH COLUMBIA,COLOMBIE-BRITANNIQUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,152825,A19P0069,1912.0,Vancouver Intl,2.0,CANADA,CANADA,12.0,BRITISH COLUMBIA,COLOMBIE-BRITANNIQUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Total of missing values

dfm.isnull().sum().sum()

19197690

In [ ]:
fatal_col=[col for col in dfm.columns if 'Fatal' in col]
#print (list(dfm.columns))
print (fatal_col)

['TotalFatalCount']

In [ ]:
#Remove columns with >50% blank or null
dfd = dfm.loc[:, dfm.isin([' ','NULL']).mean() <= .5]

In [ ]:
#dfm = dfm.loc[:, dfm.eq("").mean().le(.5)]

In [ ]:
dfd.shape

(68258, 438)

In [ ]:
#Fill na values with mean
dff = dfm.where(pd.notna(dfm), dfm.mean(), axis='columns')

In [ ]:
#dff=dfm.apply(lambda x: x.fillna(x.mean()),axis=0)
#dff=dfm.fillna(0, inplace=True)

In [ ]:
#dff.TotalFatalCount

In [ ]:
#Remove columns with 0
#r_0 = dff.loc[:, (dff != 0).any(axis=0)]

In [ ]:
#dff_ = dff.sort_values('OccID', ascending = False)

In [ ]:
dff.shape

In [ ]:
dff.apply(pd.to_numeric, errors = 'ignore').info()

In [ ]:
dff = dff.drop_duplicates(subset = ['OccNo_x'])
#dff.dtypes

In [ ]:
#Find columns with missing values
#null_columns=dfc_.columns[dfc_.isnull().any()]
#dfc_[null_columns].isnull().sum()

In [ ]:
dff.nunique()

In [ ]:
dff.shape

In [ ]:
#Remove columns ending with Fre

print (dff.columns[dff.columns.str.endswith('Fre')])

In [ ]:
# dff_= dff.drop([col for col in dff.columns if 'Fre' in col], axis=1)
# dff.shape

In [ ]:
#dff_ = dff.filter(regex=r'^((?!Fre).)*$')
dfen = dff.loc[:, ~dff.columns.str.endswith('Fre')]

In [ ]:
#dff_= dff.dropna(axis=1, thresh=int(0.5*len(dff)))

In [ ]:
dfen.head()

In [ ]:
dfen.shape

In [ ]:
#Using a second pass of the filter for French!

#dfen = dff.loc[:, ~dff.columns.str.endswith('Fre')]

In [ ]:
#dfen.head()

In [ ]:
#dfen.shape

In [ ]:
dfen.columns

In [ ]:
dfen.apply(pd.to_numeric, errors = 'ignore').info()

In [ ]:
dfen.TotalFatalCount

In [ ]:
dfen.shape

In [ ]:
#Finding data completeness
#msno.bar(dfen)

In [ ]:
dfen.isnull().sum().sum()

In [ ]:
#pip install --upgrade setuptools

In [ ]:
dfen.info()

In [ ]:
Long = dfen.Longitude * -1

In [ ]:
sns.jointplot(x=Long.values, y=dfen.Latitude.values, ratio = 10)
plt.title('Lat and Longs')

In [ ]:
dfen.sample(20)

In [ ]:
dfen['OccDate'] = pd.to_datetime(dfen['OccDate'])
dfen.OccDate

In [ ]:
dfen.describe()

In [ ]:
dfen_ = pd.to_datetime(dfen['OccDate'], errors='coerce')

In [ ]:
dfen.OccDate.dt.year

In [ ]:
#importing plotly and cufflinks in offline mode
import plotly.plotly as py
import cufflinks as cf
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly.offline import download_plotlyjs
from plotly.offline import init_notebook_mode
from plotly.offline import plot, iplot
init_notebook_mode(connected=True)
cf.go_offline()

In [ ]:
#Removed as there are few occurrences before 1976
#dfen.OccDate.dt.year.iplot(kind='histogram', bins=40, theme='white', title='Ocurrences per year')

In [ ]:
#drop prior to 1976
old = dfen[(dfen.OccDate.dt.year < 1976)].index
dfen.drop(old, inplace=True)

In [ ]:
dfen.OccDate.dt.year.iplot(kind='histogram', bins=50, theme='white', title='Ocurrences per year')

In [ ]:
px.histogram(dfen, x = 'OccDate', y = 'TotalFatalCount', histfunc='sum', color='OrganizationID_DisplayEng')

In [ ]:
# #px.scatter_matrix(dfen, dimensions=["OrganizationID_DisplayEng", "TotalFatalCount",
#                               "OperatorTypeID_DisplayEng", "AircraftModelID_DisplayEng"], color = 'OperationTypeID_DisplayEng')

In [ ]:
#dfen.TotalFatalCount

In [ ]:
!pip install jupyterthemes

In [ ]:
!jt -t chesterish

In [ ]:
dfen.corr('pearson')